<div class="archive-container container py-5" dir="rtl">

  <div class="text-center mb-4">
    <h2 class="fw-bold title mb-2 animate-charcter">📁 الأرشيف </h2>
    <p class="text-muted subtitle fs-5">تصفّح أرشيف القرارات حسب مستوى التصنيف</p>
  </div>

  <table class="modern-table mx-auto">

    <thead>
      <tr>
        <th>عنوان</th>
        <th>عدد القرارات</th>
        <th>الإجراء</th>
      </tr>
    </thead>

    <tbody>

      <!-- رئاسة الجمهورية -->
      <tr *ngIf="user?.role === 'UniversityPresident' || user?.fullname === 'مكتب رئيس الجامعة'"
          (click)="getArchivedLettersByType('رئاسة الجمهورية')" class="clickable-row">
        <td><span class="tag tag-danger">رئاسة الجمهورية</span></td>
        <td>{{ statsArchived?.republic }}</td>
        <td><button class="view-btn">عرض</button></td>
      </tr>

      <!-- رئاسة الوزراء -->
      <tr *ngIf="user?.role === 'UniversityPresident' || user?.fullname === 'مكتب رئيس الجامعة'"
          (click)="getArchivedLettersByType('رئاسة الوزراء')" class="clickable-row">
        <td><span class="tag tag-warning">رئاسة الوزراء</span></td>
        <td>{{ statsArchived?.general }}</td>
        <td><button class="view-btn">عرض</button></td>
      </tr>

      <!-- وزارة التعليم العالي -->
      <tr *ngIf="user?.role === 'UniversityPresident' || user?.fullname === 'مكتب رئيس الجامعة'"
          (click)="getArchivedLettersByType('وزارة التعليم العالي')" class="clickable-row">
        <td><span class="tag tag-success">وزارة التعليم العالي</span></td>
        <td>{{ statsArchived?.government }}</td>
        <td><button class="view-btn">عرض</button></td>
      </tr>

      <!-- الجامعة -->
      <tr (click)="getArchivedLettersByType('عامة')" class="clickable-row">
        <td><span class="tag tag-primary">الجامعة</span></td>
        <td>{{ statsArchived?.university }}</td>
        <td><button class="view-btn">عرض</button></td>
      </tr>

      <!-- أرشيفي الخاص -->
      <tr (click)="openPersonalArchive()" class="clickable-row">
        <td><span class="tag tag-info">أرشيفي الخاص</span></td>
        <td>{{ statsArchived?.prevUser}}</td>
        <td><button class="view-btn">عرض</button></td>
      </tr>

      <!-- أرشيف المراجعة للمشرف -->
      <tr *ngIf="user?.role === 'supervisor'" 
          (click)="getArchivedSupervisor()" class="clickable-row">
        <td><span class="tag tag-dark">أرشيف المراجعة</span></td>
        <td>{{ statsArchived?.prevsupervisor}}</td>
        <td><button class="view-btn">عرض</button></td>
      </tr>

        <!-- أخرى -->
      <tr *ngIf="user?.role === 'UniversityPresident' || user?.fullname === 'مكتب رئيس الجامعة'"
          (click)="getArchivedLettersByType('اخرى')" class="clickable-row">
        <td><span class="tag tag-secondary">أخرى</span></td>
        <td>{{ statsArchived?.other }}</td>
        <td><button class="view-btn">عرض</button></td>
      </tr>

    </tbody>

  </table>

</div>
